{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "EhNameSpace__fullyQualifiedNamespace": "{EventHubHostName}.servicebus.windows.net",
    "EhName": "addresses",
    "ServiceBusHostName": "{ServiceBusHostName}.servicebus.windows.net",
    "QueueName": "addresses"
  }
}